# О пользователе

## Имя
[Ваше имя]

## Описание
[Чем занимаетесь, роль, область]

## Ключевые проекты
- [Проект 1] -- краткое описание
- [Проект 2] -- краткое описание

## Стиль работы
- [Как предпочитаете общаться]
- [Что цените в работе]
- [Что раздражает]
